<md-card class="scroll-container" ng-if="!vm.eventDetailFocused && !vm.eventCreateFocused">
	<div ng-class="{loading: vm.loading}">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Team</span>
				<span class="md-subhead">List</span>
			</md-card-title-text>
		</md-card-title>

		<div class="btn-group card-controls">
			<tvo-create-button ng-click="vm.create('/#/team/create')"></tvo-create-button>
		</div>

		<div class="row">
			<tvo-label-text value="'Name:'"></tvo-label-text>
		</div>

		<ul infinite-scroll='vm.loadMore()' infinite-scroll-distance="0" class="list-group">
			<li ng-repeat='item in vm.items' class="list-group-item" ng-click="vm.selectItem(item._id)">
				<div class="row">
					<tvo-team-item-single
							x-item="item"
					></tvo-team-item-single>
				</div>
			</li>
		</ul>
	</div>
</md-card>
<tvo-team-item-create game-id="vm.gameId" ng-if="vm.eventCreateFocused" id="placeholder = 'this-is-a-placeholder'"
					  open="vm.eventCreateFocused"></tvo-team-item-create>
<tvo-team-item-detail game-id="vm.gameId" ng-if="vm.eventDetailFocused && vm.itemId" id="vm.itemId"
					  open="vm.eventDetailFocused"></tvo-team-item-detail>
