.tvo-label-text {
  width: 240px;
  display: inline-block;
  padding: 2px;
  margin: 4px 4px 2px 0;
}
.tvo-label-text label {
  color: gray;
  font-size: 12px;
}
.tvo-label-text div {
  margin-left: 4px;
  padding: 3px 0;
}
.tvo-label-text div input {
  outline: none;
  border: 0;
  width: 100%;
}
