/.idea
/archive
/node_modules
/bower_components
/dist
/npm-debug.log
/iisnode
/**/*.js
/**/*.js.map
/**/*.d.ts
/src/server/api/auth/client/authData.json
/src/server/config/database.*

/src/server/config/database\.d\.ts
