<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<handlers>
		<add name="iisnode" path="main.js" verb="*" modules="iisnode" />
	</handlers>
        <rewrite>
            <rules>

                <rule name="Catch All">
                    <match url="/*" />
		    <action type="Rewrite" url="/main.js" />
                </rule>

		<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^app.js\/debug[\/]?" />
                </rule>

            </rules>
        </rewrite>
     	<iisnode     
      		watchedFiles="*.js;iisnode.yml"
      		nodeProcessCommandLine="C:\Program Files (x86)\nodejs\node.exe"
      		nodeProcessCountPerApplication="1"
     	/>
    </system.webServer>
</configuration>
