.tvo-label-text {
  display: inline-block;
  outline: none;
}
.tvo-label-text .input-group .value {
  outline: none;
  margin-top: 3px;
  margin-left: 12px;
  vertical-align: text-bottom;
}
.tvo-label-text .input-group .input-group-addon {
  border-right: 1px solid #ccc;
}
