<md-card>
	<div ng-class="{loading: vm.loading}">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Team</span>
				<span class="md-subhead">Create</span>
			</md-card-title-text>
		</md-card-title>
		<div class="btn-group card-controls">
			<span ng-if="vm.error">{{vm.error}}</span>
			<tvo-button ng-click="vm.cancel()" label="'Cancel'"></tvo-button>
			<tvo-button ng-click="vm.save()" label="'Save'"></tvo-button>
		</div>

		<md-card-content>
			<tvo-text label="'Name:'" value="vm.item.name"></tvo-text>
			<tvo-input-single-select ng-if="!vm.GameId" label="'Game:'" value="vm.item.GameId"
									 list="vm.gameSelectList"></tvo-input-single-select>
		</md-card-content>

	</div>
</md-card>
