<md-card>
	<div ng-class="{loading: vm.loading}">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Event</span>
				<span class="md-subhead">Edit</span>
			</md-card-title-text>
		</md-card-title>
		<div class="btn-group card-controls">
			<span ng-if="vm.error">{{vm.error}}</span>
			<tvo-delete-button ng-click="vm.deleteItem('event')"></tvo-delete-button>
			<tvo-button ui-sref="event-detail({id:vm.item.id})" label="'Cancel'"></tvo-button>
			<tvo-button ng-click="vm.save('event-detail')" label="'Save'"></tvo-button>
		</div>

		<md-card-content>
			<tvo-text label="'Name:'" value="vm.item.name"></tvo-text>
			<tvo-datetime label="'Start Time:'" value="vm.item.startTime"></tvo-datetime>
			<tvo-datetime label="'End Time:'" value="vm.item.endTime"></tvo-datetime>
			<tvo-text label="'Comment:'" value="vm.item.comment"></tvo-text>
			<tvo-input-single-select ng-if="!vm.gameId" label="'Game:'" value="vm.item.gameId"
									 list="vm.gameSelectList"></tvo-input-single-select>
		</md-card-content>

	</div>
</md-card>
