tvo-nav {
  /*Navigation bar coloring and sizing*/
}
tvo-nav .menu {
  height: 60px;
  background: linear-gradient(to bottom, #4a8df4 0%, #4a8df4 50%, #4a8df4 50%, #4787f4 50%, #4787f4 100%);
}
tvo-nav .menu .icon {
  margin-top: 5px;
  margin-left: 5px;
  width: 70px;
  height: 50px;
  display: inline-block;
  float: left;
  background-image: url(/src/client/images/icon/5x.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
tvo-nav .menu .icon:focus {
  outline: none;
}
tvo-nav .menu .icon:hover {
  cursor: pointer;
}
tvo-nav .menu ul {
  float: right;
  list-style-type: none;
  height: 40px;
  margin: 10px 15px 10px 0;
}
tvo-nav .menu ul li {
  z-index: 99;
  display: inline-block;
  height: 40px;
  border-radius: 0px;
  line-height: 40px;
}
tvo-nav .menu ul li span {
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
}
tvo-nav .menu ul li:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #4b94fc;
}
tvo-nav .menu ul li:focus {
  outline: none;
}
tvo-nav .menu ul li div,
tvo-nav .menu ul li a,
tvo-nav .menu ul li span {
  color: #ffffff;
}
tvo-nav .menu ul li.sub-menu {
  position: relative;
  display: inline-block;
}
tvo-nav .menu ul li.sub-menu ul {
  display: none;
  position: absolute;
  padding: 0;
  width: 100%;
  font-size: .9em;
  margin: 0;
  z-index: 2;
}
tvo-nav .menu ul li.sub-menu ul li {
  background-color: #4787f4;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: block;
}
tvo-nav .menu ul li.sub-menu ul li:hover {
  background-color: #4a8df4;
}
tvo-nav .menu ul li.sub-menu:hover ul {
  display: block;
}
tvo-nav .menu ul.debounce li ul {
  display: none;
}
