<md-card class="scroll-container" ng-if="!vm.eventDetailFocused && !vm.eventCreateFocused">
	<div ng-class="{loading: vm.loading}">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">User</span>
				<span class="md-subhead">List</span>
			</md-card-title-text>
		</md-card-title>
		<div class="btn-group card-controls">
			<tvo-create-button ng-click="vm.create('/#/administration/userManagement/create')"></tvo-create-button>
		</div>

		<div class="row">
			<tvo-label-text value="'Username:'"></tvo-label-text>
			<tvo-label-text value="'Full Name:'"></tvo-label-text>
			<tvo-label-text value="'Role:'"></tvo-label-text>
		</div>

		<ul infinite-scroll='vm.loadMore()' infinite-scroll-distance="0" class="list-group">
			<li ng-repeat='item in vm.items' class="list-group-item" ng-click="vm.selectItem(item._id)">
				<div class="row">
					<tvo-user-item-single x-item="item"></tvo-user-item-single>
				</div>
			</li>
		</ul>
	</div>
</md-card>
<div ng-if="vm.eventDetailFocused && vm.itemId">
	<tvo-user-management-item-detail id="vm.itemId" open="vm.eventDetailFocused"></tvo-user-management-item-detail>
</div>
<div ng-if="vm.eventCreateFocused">
	<tvo-user-management-item-create id="placeholder = 'this-is-a-placeholder'"
									 open="vm.eventCreateFocused"></tvo-user-management-item-create>
</div>