div.tvo-datetime {
  display: inline-block;
  position: relative;
  margin-top: 0;
  margin-right: 4px;
  margin-left: 0;
  width: 240px;
  height: 60px;
  padding-top: 1px;
  border-bottom: #a4a4a4 solid 1px;
}
div.tvo-datetime * {
  outline: none;
}
div.tvo-datetime label {
  display: block;
  color: gray;
  font-size: 12px;
  top: 3px;
}
div.tvo-datetime .datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0;
}
div.tvo-datetime input.datetime-picker-input[type="text"] {
  width: 202px;
  display: inline-block;
  border: none;
  outline: none;
  margin-top: 2px;
  margin-bottom: 0;
}
div.tvo-datetime .btn-open-calendar {
  display: inline-block;
  margin-left: 0;
  height: 35px;
  vertical-align: baseline;
}
