.tvo-datetime {
  position: relative;
}
.tvo-datetime .input-group-addon {
  width: 85px;
  height: 34px;
  line-height: 14px;
  padding-top: 9px;
  float: left;
}
.tvo-datetime > * {
  display: inline-block;
}
.tvo-datetime * {
  outline: none;
}
.tvo-datetime .datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0;
}
.tvo-datetime input.datetime-picker-input[type="text"] {
  min-width: 135px;
  width: 55%;
  padding-left: 7px;
  padding-right: 7px;
  display: inline-block;
  float: left;
  outline: none;
}
.tvo-datetime .btn-open-calendar {
  display: inline-block;
  height: 34px;
  border-left: none;
  vertical-align: baseline;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
