<md-card>
	<div ng-class="{loading: vm.loading}">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Player</span>
				<span class="md-subhead">Edit</span>
			</md-card-title-text>
		</md-card-title>
		<div class="btn-group card-controls">
			<span ng-if="vm.error">{{vm.error}}</span>
			<tvo-delete-button ng-click="vm.deleteItem('player')"></tvo-delete-button>
			<tvo-button ui-sref="player-detail({id:vm.item.id})" label="'Cancel'"></tvo-button>
			<tvo-button ng-click="vm.save('player-detail')" label="'Save'"></tvo-button>
		</div>

		<md-card-content>
			<tvo-text label="'Name:'" value="vm.item.name"></tvo-text>
			<tvo-input-single-select ng-if="!vm.GameId" label="'Game:'" value="vm.item.GameId"
									 list="vm.gameSelectList"></tvo-input-single-select>
			<tvo-input-single-select ng-if="vm.userSelectList.length > 0" label="'User:'" value="vm.item.UserId"
									 list="vm.userSelectList"></tvo-input-single-select>
		</md-card-content>

	</div>
</md-card>
