<md-card ng-if="!vm.eventEditFocused">
	<div ng-class="{loading: vm.loading}">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Event</span>
				<span class="md-subhead" >Detail</span>
			</md-card-title-text>
		</md-card-title>
		<div class="btn-group card-controls">
			<span ng-if="vm.error">{{vm.error}}</span>
			<tvo-button ng-click="vm.cancel('/#/event')" label="'Back'"></tvo-button>
			<tvo-button ng-click="vm.edit('/#/event/edit')" label="'Edit'"></tvo-button>
		</div>

		<md-card-content>
			<tvo-label-text label="'Name'" value="vm.item.name"></tvo-label-text>
			<tvo-label-text label="'Start Time'" value="vm.item.startTime"></tvo-label-text>
			<tvo-label-text label="'End Time'" value="vm.item.endTime"></tvo-label-text>
			<tvo-label-text label="'Comment'" value="vm.item.comment"></tvo-label-text>
			<tvo-label-text label="'Game'" value="vm.item.gameId"></tvo-label-text>
		</md-card-content>

	</div>


</md-card>
<div ng-if="vm.eventEditFocused">
	<tvo-event-management-item-edit id="vm.item._id" open="vm.eventEditFocused"></tvo-event-management-item-edit>
</div>
