<md-card ng-if="!vm.eventEditFocused">
	<div ng-class="{loading: vm.loading}">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Team</span>
				<span class="md-subhead">Detail</span>
			</md-card-title-text>
		</md-card-title>
		<div class="btn-group card-controls">
			<span ng-if="vm.error">{{vm.error}}</span>
			<tvo-button ui-sref="team" label="'Back'"></tvo-button>
			<tvo-button ui-sref="team-edit({id:vm.item.id})" label="'Edit'"></tvo-button>
		</div>

		<md-card-content ng-if="!vm.loading">
			<tvo-label-text label="'Name:'" value="vm.item.name"></tvo-label-text>
			<tvo-label-text ng-if="!vm.gameId" label="'Game:'" value="vm.gameName"></tvo-label-text>
		</md-card-content>
	</div>
</md-card>

<tvo-team-management-item-edit id="vm.item._id" ng-if="vm.eventEditFocused" game-id="vm.gameId"
							   open="vm.eventEditFocused"></tvo-team-management-item-edit>
