.tvo-match-edit .player-card-list,
.tvo-match-create .player-card-list {
  display: inline-block;
  min-width: 350px;
  vertical-align: top;
}
.tvo-match-edit .player-card-list .add-player,
.tvo-match-create .player-card-list .add-player,
.tvo-match-edit .player-card-list .remove-player,
.tvo-match-create .player-card-list .remove-player {
  display: inline-block;
  float: right;
}
.tvo-match-edit .player-card-list md-title,
.tvo-match-create .player-card-list md-title {
  padding-bottom: 20px;
  display: block;
}
.tvo-match-edit .player-card-list .player-in-team-row,
.tvo-match-create .player-card-list .player-in-team-row {
  width: 100%;
  min-height: 35px;
}
.match-single-item {
  padding-left: 8px;
  margin-right: 35px;
  border-bottom: #dfdfdf solid 1px;
}
.match-single-item:hover {
  border-bottom: #858585 solid 1px;
}
